<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IdentificadorEmpresa" value="76257812"/>
		<add key="UsuarioEmpresa" value="76729840-4"/>
		<add key="AutorizacionEmpresa" value="NDg5QzgzMDdEM0IzRDFBRDBFMUU"/>
		<add key="URL_TOKEN" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/GetToken"/>
		<add key="URL_CARGA" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/CargaDTE"/>
		<add key="URL_TOKEN_EXPERIAN" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/GetToken"/>
		<add key="URL_DATA" value="https://demorexperian.free.beeceptor.com/api/documents"/>
		<add key="Move" value="codi_emex='demo'#param_name='DIRE_MVTO_APIC'"/>
		<add key="IN" value="codi_emex='demo'#param_name='DIRE_ENTR_APIC'"/>
		<add key="Log" value="codi_emex='demo'#param_name='DIRE_SALI_APIC'"/>
		<add key="TOKEN_TIME_MIN" value="30"/>
	</appSettings>
	<connectionStrings>
		<add name="BDConnect" providerName="System.Data.SqlClient" connectionString="data source=TS;initial catalog=EmisionDTEQA;persist security info=True;user id=Usr_Qclass_QA;password=QcL4sS@PasS123!!;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" />
	</connectionStrings>
</configuration>