<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IdentificadorEmpresa" value="76257812"/>
		<add key="UsuarioEmpresa" value="76729840-4"/>
		<add key="AutorizacionEmpresa" value="NDg5QzgzMDdEM0IzRDFBRDBFMUU"/>
		<add key="URL_TOKEN" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/GetToken"/>
		<add key="URL_CARGA" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/CargaDTE"/>
		<add key="URL_TOKEN_EXPERIAN" value="https://fewss02-cert.cl.dbnetcorp.com/API/Gw/GetToken"/>
		<add key="URL_DATA" value="https://demorexperian.free.beeceptor.com/api/documents"/>
		<add key="TOKEN_TIME_MIN" value="30"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
</configuration>